.cbag--inactive-color {
  background-color: #d3d3d3;
}

.cbag--active-color {
  background-color: #4896c9;
}
.cbag--active {
  width: 100%;
  height: 100%;
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--bundleBlue);
  border: solid 1px var(--bundleBlue);
  border-radius: var(--br-9);
  box-shadow: var(--ds-lightGrey);
  background-color: var(--white);
  transition: 0.3s;
}

.cbag--inactive {
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  border: solid 1px var(--smokeGrey30);
  color: var(--bundleBlue70);
  border-radius: var(--br-9);
  box-shadow: var(--smokeGrey30);
  background-color: rgba(255, 255, 255, 0.938);
  transition: 0.3s;
}

.cbag--inactive:hover {
  width: 100%;
  height: 100%;
  font-weight: 700;
  color: var(--bundleBlue);
  border: solid 1px var(--bundleBlue);
  border-radius: var(--br-9);
  box-shadow: var(--ds-lightGrey);
  background-color: var(--white);
  transition: 0.3s;
}

.cbag--button {
  background: none;
  display: inline-block;
  border: none;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-align: left;
}

.cbag--button:hover,
.cbag--button:focus {
  font-weight: 700;
  outline: var(--bundleBlue);
}

/* sizing */

.cbag--size {
  height: 7rem;
  width: 6.8rem;
  font-size: 1rem;
}

.cbag--size-md {
  height: 7rem;
  width: 8.2rem;
  font-size: 1.1rem;
}

.cbag--size-lg {
  height: 8rem;
  width: 10rem;
  font-size: 1.2rem;
}

.cbag--size-xlg {
  height: 8rem;
  width: 12rem;
  font-size: 1.3rem;
}

.cbag--size-xxlg {
  height: 9rem;
  width: 13rem;
  font-size: 1.5rem;
}
