.item {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2),
    0 1.5px 3.33px 0 rgba(0, 0, 0, 0.19);
  width: 60px;
  height: 102px;
}

.item--count--packed {
  font-size: 7px;
  color: white;
}

.item--count--size {
  font-size: 7px;
}

.item--font--packed {
    background-color: #454ade;
    color: white;
}

.item--font--unpacked {
    background-color: white;
    color: #454ade;
}

.item--icon--packed {
  font-size: 12px;
  color: white;
}

.item--icon--bundled {
  font-size: 12px;
  color: white;
}

.item--icon--unbundled {
  font-size: 12px;
  color: #454ade;
}

.div--icon--size {
  height: 16px;
}

.item--icon--size {
  font-size: 12px;
  color: #454ade;
}

.item--image--size {
  width: 40px;
  height: 40px;
}

.item--input--count {
  width: 15px;
  height: 13px;
  font-size: 10px;
  font-weight: 350;
}

.item--bundle--font {
  font-size: 8px;
  font-weight: 500;
  color: #454ade;
}

.item--text--selected {
  border: 1px solid #454ade;
  background-color: #454ade;
  color: white;
}

.item--text--unselected {
  border: 1px solid #454ade;
  background-color: white;
  color: #454ade;
}

.item--title--font {
  font-size: 10px;
}