.bundleNavbarLogo {
    background-color: gray;
    color: white;
    padding: 10px;
    transition: background-color .5s ease;
}

.bundleNavbarLogo:hover {
    background-color: black;
}

.bundleNavbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid black;
}

.bundleNavbar a {
    color: gray;
    text-decoration: none;
    margin: 0 10px 0 10px;
    transition: color .5s ease;
}

.bundleNavbar a:hover {
    text-decoration: none;
    color: black;
}
