.fancy-progress-bar {
  background: #4896c9; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #4896c9 0%,
    #ecccff 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #4896c9 0%,
    #ecccff 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    #4896c9 0%,
    #ecccff 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.toastDropShadow {
  box-shadow: 5px 5px 20px 0px;
}
