.item--packed {
  background-color: #454ade;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2),
    0 1.5px 3.33px 0 rgba(0, 0, 0, 0.19);
  width: 60px;
  height: 102px;
}

.item--icon {
  text-align: right;
}

.item--icon--filler {
    height: 24px;
}

.item--icon--packed {
  font-size: 12px;
  color: white;
}

.item--icon--size {
  font-size: 12px;
  color: #454ade;
}

.item--image--size {
  width: 40px;
  height: 40px;
}

.item--title--font {
  font-size: 10px;
}