.pItem {
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2),
    0 1.5px 3.33px 0 rgba(0, 0, 0, 0.19);
}

.pItem--head {
  background-color: rgba(255, 255, 255, 0.7);
  overflow: scroll;
}

.pItem--buttons {
  /* margin-top: 11rem; */
  margin-top: 79%;
}

.pItem--button-main {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0);
}

.pItem--button-left {
  background-color: #4996c9;
  border-left: 1px solid #4996c9;
  border-right: 1px solid #4996c9;
  border-top: 1px solid #4996c9;
  border-bottom: 1px solid #4996c9;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding-top: 0.5rem;
}

.pItem--button-right {
  background-color: white;
  border-left: 1px solid #4996c9;
  border-right: 1px solid #4996c9;
  border-top: 1px solid #4996c9;
  border-bottom: 1px solid #4996c9;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  color: var(--bundleBlue);
}

.pItem--button-right:hover {
  background-color: #39b225;
  border-left: 1px solid #39b225;
  border-right: 1px solid #39b225;
  border-top: 1px solid #39b225;
  border-bottom: 1px solid #39b225;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  transition: 0.3s;
  color: var(--white);
}

.pItem--button-rightDelete {
  background-color: white;
  border-left: 1px solid #4996c9;
  border-right: 1px solid #4996c9;
  border-top: 1px solid #4996c9;
  border-bottom: 1px solid #4996c9;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  color: var(--bundleBlue);
}

.pItem--button-rightDelete:hover {
  background-color: var(--sunsetRed);
  border-left: 1px solid var(--sunsetRed);
  border-right: 1px solid var(--sunsetRed);
  border-top: 1px solid var(--sunsetRed);
  border-bottom: 1px solid var(--sunsetRed);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  transition: 0.3s;
  color: var(--white);
}

.pItem--quantity-button {
  background-color: #4996c9;
  border: 1px solid #4996c9;
}

.pItem--quantity-weight {
  font-weight: 700;
}

.pItem--title--font {
  font-weight: 700;
  vertical-align: middle;
  width: 100%;
}

.pItem--content-main {
  background-size: cover;
  background-position: center;
}

/* Sizing  */

.pItem--unpacked {
  width: 140px;
  height: 180px;
}

.pItem--unpacked-md {
  width: 220px;
  height: 260px;
}

.pItem--unpacked-lg {
  width: 260px;
  height: 300px;
}

.pItem--unpacked-xlg {
  width: 300px;
  height: 340px;
}

.pItem--unpacked-xxlg {
  width: 340px;
  height: 380px;
}

.pItem--header {
  height: 2.5rem;
  font-size: 1.5rem;
}

.pItem--header-md {
  height: 2.8rem;
  font-size: 1.8rem;
}

.pItem--header-lg {
  height: 3.3rem;
  font-size: 2.1rem;
}

.pItem--header-xlg {
  height: 3.6rem;
  font-size: 2.3rem;
}

.pItem--header-xxlg {
  height: 4.2rem;
  font-size: 2.6rem;
}

.pItem--button {
  height: 30px;
  width: 100px;
}

.pItem--button-md {
  height: 40px;
  width: 100px;
}

.pItem--button-lg {
  height: 50px;
  width: 100px;
}

.pItem--button-xlg {
  height: 48px;
  width: 100px;
}

.pItem--button-xxlg {
  height: 55px;
  width: 100px;
}

.pItem--btnrow {
  font-size: 1.2rem;
}

.pItem--btnrow-md {
  margin-top: 0.2rem;
  font-size: 1.4rem;
}

.pItem--btnrow-lg {
  margin-top: 1rem;
  font-size: 1.4rem;
}

.pItem--btnrow-xlg {
  margin-top: 0.8rem;
  font-size: 1.4rem;
}

.pItem--btnrow-xxlg {
  margin-top: 0.8rem;
  font-size: 1.6rem;
}

.pItem--pack {
  font-size: 1.5rem;
}

.pItem--pack-md {
  font-size: 1.8rem;
}

.pItem--pack-lg {
  font-size: 2.1rem;
}

.pItem--pack-xlg {
  font-size: 2.3rem;
}

.pItem--pack-xxlg {
  font-size: 2.6rem;
}

.pItem--quantity {
  font-size: 1.4rem;
}

.pItem--quantity-md {
  font-size: 1.8rem;
}

.pItem--quantity-lg {
  margin-top: 0.5rem;
  font-size: 2rem;
}

.pItem--quantity-xlg {
  margin-top: 0.3rem;
  font-size: 2.2rem;
}

.pItem--quantity-xxlg {
  margin-top: 0.5rem;
  font-size: 2.2rem;
}
