.publicHomeBanner {
  background: linear-gradient(90deg, rgba(77, 154, 205, 0), #4996c9),
    url("../../assets/images/background_images/itemsCarousel.gif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.createTripForm-mb {
  margin-bottom: 20rem;
}

.publicHome-width {
  width: 120rem;
}

.publicHome-c-babyBlue {
  color: var(--babyBlue);
}
